*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 60%;
    min-height: 250px;
    background-color: lightgray;
    margin: auto;
}

img {
    display: inline-block;
    width: 100%;
}

h3{
    font-weight: bold;
    padding-bottom: 3px;
}

h4{
    font-weight: 500;
}


.products-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    word-spacing: 5px; 
}

.product-card {
    width: calc(100% / 3 - 30px);
    position: relative;
    display: inline-block;
    word-spacing: normal;
}


.product-card:hover .product-overlay {
    display: inline-block;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}


.product-overlay {
    display: none;
}

.product-title{
    padding-top: 5px;
}

.discount-50{
    position: absolute;
    background-color: red;
    color: white;
    font-size: 17px;
    font-weight: bold;
    bottom: 90px;
    left: 0;
    padding: 2px 5px;
    z-index: 1;
    padding: 5px 5px;
}

.sostenibilita{
    position: absolute;
    background-color: rgb(30, 160, 84);
    color: white;
    font-size: 17px;
    font-weight: bold;
    bottom: 90px;
    left: 53px;
    padding: 2px 5px;
    z-index: 1;
    padding: 5px 5px;
}

.heart-card{
    position: absolute;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 30px;
    padding: 10px 15px;
    top: 15px;
    right: 0px;
}

.rosso{
    color: red;
}

.sconto{
    text-decoration: line-through;
}

#sustain-6 {
    left: 0;
}